* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 5vh auto;
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  width: 800px;
}

.item {
  border: 1px solid black;
}

.item:hover {
  background-color: green;
}

.active {
  background-color: green;
}
